<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo Database cho bài đọc </title>
</head>
<body>
    <h1 class="">Tạo bài đọc mới </h1>

    <form action="." method="post">

        {% csrf_token %} <!--Chống tấn công CSRF-->

        {{ form.as_p }}

        <p class="">
            <button type="submit">Submid</button>
        </p>
    </form>
</body>
</html>


